
fastapi==0.136.1
uvicorn==0.38.0

# Database
sqlalchemy==2.0.48
alembic==1.13.3
psycopg==3.3.2
psycopg-binary==3.3.3
psycopg-pool==3.3.0

# Validation / config
pydantic==2.12.5
python-dotenv==1.2.2
pydantic-settings==2.10.0

# HTTP
requests==2.33.0
types-requests==2.32.4.20250913
httpx==0.28.1
python-dateutil==2.8.2

# Testing
uvicorn==0.38.0
pytest==9.0.3
pytest-cov==7.1.0

# Data / viz
xmltodict==1.0.4
matplotlib==3.10.8
pandas==2.3.3
seaborn==0.13.2
dash==4.0.0
plotly==6.6.0
